In [22]:
import pandas as pd
import MySQLdb
import numpy as np
import time
import datetime 
import random
import matplotlib.pyplot as plt
%matplotlib inline 
import statistics 
import requests
from sympy import *
from sympy.solvers import solve
from sympy.parsing.sympy_parser import parse_expr
# ____________________________________________________________________________________________________

In [36]:
d = 200
############################## DAY
time_a = pd.date_range('2016-08-29 00:00:00', periods=d, freq='D')
time_b = pd.date_range('2016-10-01 00:14:59', periods=d*96, freq='15T')


conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()
############################# DATA
# query_empty = """truncate table thesis.plattern_j""" 
# c.execute(query_empty)
# print "table thesis.plattern_j are Empty!!! \n"
j = 0
              
query_last1 = "SELECT total_watt FROM thesis.load  WHERE Timestamp >= '%s' AND Timestamp <= '%s'; "%('2016-09-26 00:00:00','2016-09-29 23:59:59')
df_last1  = pd.read_sql(query_last1, conn)
query_last2 = "SELECT total_watt FROM thesis.load WHERE Timestamp >= '%s' AND Timestamp <= '%s'; "%('2016-09-03 00:00:00','2016-09-04 23:59:59')
df_last2  = pd.read_sql(query_last2, conn)
query_last0 = "SELECT total_watt FROM thesis.load WHERE Timestamp >= '%s' AND Timestamp <= '%s'; "%('2016-09-02 00:00:00','2016-09-30 23:59:59')
df_last0  = pd.read_sql(query_last0, conn)

while (j <= len(df_last2)-1):
    c.execute("INSERT INTO thesis.plattern_j (Timestamp, total_watt) VALUES ( %s, %s)",(time_b[j],df_last2.total_watt[j]))               
    conn.commit()
    j +=1
    print ".",

. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [42]:
d = 35
############################## DAY
time_a = pd.date_range('2016-08-29 00:00:00', periods=d, freq='D')
time_b = pd.date_range('2016-08-29 23:59:59',  periods=d, freq='D')


conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()
############################# DATA
query_empty = """truncate table thesis.plattern""" 
c.execute(query_empty)
print "table thesis.plattern are Empty!!! \n"
j = 0
              
while (j <= d-1):
    query = "SELECT total_watt FROM thesis.plattern_j  WHERE Timestamp >= '%s' AND Timestamp <= '%s'; "%(time_a[j],time_b[j])
    df = pd.read_sql(query, conn)   
    result =df.total_watt.sum()/1000
    c.execute("INSERT INTO thesis.plattern (Timestamp, total_watt) VALUES ( %s, %s)",(time_b[j],result))               
    conn.commit()
    j +=1
    print ".",

 table thesis.plattern are Empty!!!

. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [43]:
query = "SELECT total_watt FROM thesis.plattern WHERE Timestamp >= '%s' AND Timestamp <= '%s'; "%('2016-08-29 23:59:59','2016-10-02 23:59:59')
df = pd.read_sql(query, conn)   
print len(df)

35

In [48]:
d = 215
############################## DAY
time_b = pd.date_range('2016-08-29 23:59:59',  periods=d, freq='D')

conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()

############################# DATA
query_empty = """truncate table thesis.plattern_re""" 
c.execute(query_empty)
print "table thesis.plattern_re are Empty!!! \n"

j = 0 
i = 0
query = "SELECT total_watt FROM thesis.plattern WHERE Timestamp >= '%s' AND Timestamp <= '%s'; "%('2016-08-29 23:59:59','2016-10-02 23:59:59')
df = pd.read_sql(query, conn)  

while (j <= d-1):
    if (i ==len(df)-1):
        i = 0
    c.execute("INSERT INTO thesis.plattern_re (Timestamp, total_watt) VALUES ( %s, %s)",(time_b[j],df.total_watt[i]))               
    conn.commit()
    j += 1
    i += 1
    print ".",

table thesis.plattern_re are Empty!!!

. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [52]:
d = 215
############################## DAY
time_b = pd.date_range('2016-08-29 23:59:59',  periods=d, freq='D')

conn = MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()

############################# DATA
query_empty = """truncate table thesis.plattern_pc""" 
c.execute(query_empty)
print "table thesis.plattern_pc are Empty!!! \n"

j = 0 
i = 0
query5 = "SELECT total_watt FROM thesis.plattern_re WHERE Timestamp >= '%s' AND Timestamp <= '%s'; "%('2016-10-01 00:14:59','2016-10-31 23:59:59')
df5 = pd.read_sql(query5, conn)  
total_w =df5.total_watt.sum()
print total_w
# while (j <= d-1):
#     if (i ==len(df)-1):
#         i = 0
#     c.execute("INSERT INTO thesis.plattern_re (Timestamp, total_watt) VALUES ( %s, %s)",(time_b[j],df.total_watt[i]))               
#     conn.commit()
#     j += 1
#     i += 1
#     print ".",

table thesis.plattern_pc are Empty!!!

391.6473