In [ ]:
'''

การสร้างข้อมูลใน Database watt 15 mins
     --  รายอุปกรณ์  15 ชิ้น --

'''

import pandas as pd
import matplotlib.pyplot as plt
import MySQLdb
import time

from sympy import *
from sympy.solvers import solve
from sympy.parsing.sympy_parser import parse_expr

# Set parameters
j = 0
d = 31 #Day

# CONNECT TO MYSQL
conn= MySQLdb.connect("localhost","conn","hems")
c = conn.cursor()

# set table thesis.measure_15devices to empty 
query_empty = """truncate table thesis.measure_15devices_month3 """ 
c.execute(query_empty)
print " table thesis.measure_15devices_month3 are Empty!!! \n"

# set 15 mins periods 
time_a1 = pd.date_range('2016-11-01', periods=96*d, freq='15T')
time_b1 = pd.date_range('2016-11-01 00:14:59', periods=96*d, freq='15T')

time_a = pd.date_range('2016-12-01', periods=96*d, freq='15T')
time_b = pd.date_range('2016-12-01 00:14:59', periods=96*d, freq='15T')

while (j <= (96*d)-1):
    # device1
    query_refrigurator = "SELECT watt FROM data_month3.refrigurator WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_refrigurator = pd.read_sql(query_refrigurator, conn)
    power1 = df_refrigurator.sum()/len(df_refrigurator)/4
    
    # device2
    query_wireless_router = "SELECT watt FROM data_month3.wireless_router WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_wireless_router = pd.read_sql(query_wireless_router, conn)
    power2 = df_wireless_router.sum()/len(df_wireless_router)/4
    
    # device3
    query_aircont = "SELECT watt FROM data_month3.aircont WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
#     query_aircont = "SELECT watt FROM device.aircont WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_aircont = pd.read_sql(query_aircont, conn)
    power3 = df_aircont.sum()/len(df_aircont)/4
    
    # device4
    query_Computer = "SELECT watt FROM data_month3.Computer WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
#     query_Computer = "SELECT watt FROM device.Computer WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_Computer = pd.read_sql(query_Computer, conn)  
    power4 = df_Computer.sum()/len(df_Computer)/4
    
    # device5
    query_elec_thermos = "SELECT watt FROM data_month3.elec_thermos WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_elec_thermos = pd.read_sql(query_elec_thermos, conn)
    power5 = df_elec_thermos.sum()/len(df_elec_thermos)/4
      
    # device6
    query_hair_dryer = "SELECT watt FROM data_month3.hair_dryer WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_hair_dryer = pd.read_sql(query_hair_dryer, conn) 
    power6 = df_hair_dryer.sum()/len(df_hair_dryer)/4
    
    # device7
    query_Microwave = "SELECT watt FROM data_month3.Microwave WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_Microwave = pd.read_sql(query_Microwave, conn)     
    power7 = df_Microwave.sum()/len(df_Microwave)/4
    
    # device8
    query_iphonecharger = "SELECT watt FROM data_month3.iphonecharger WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_iphonecharger = pd.read_sql(query_iphonecharger, conn)
    power8 = df_iphonecharger.sum()/len(df_iphonecharger)/4
    
    # device9
    query_fan = "SELECT watt FROM data_month3.fan WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_fan = pd.read_sql(query_fan, conn)      
    power9 = df_fan.sum()/len(df_fan)/4
    
    # device10
    query_TV = "SELECT watt FROM data_month3.TV WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_TV = pd.read_sql(query_TV, conn)      
    power10 = df_TV.sum()/len(df_TV)/4
    
    # device11
    query_washing_meachine = "SELECT watt FROM data_month3.washing_machine WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_washing_meachine = pd.read_sql(query_washing_meachine, conn)   
    power11 = df_washing_meachine.sum()/len(df_washing_meachine)/4
        
    # device12
    query_IRON = "SELECT watt FROM data_month3.IRON WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_IRON = pd.read_sql(query_IRON, conn)   
    power12 = df_IRON.sum()/len(df_IRON)/4    
    
    # device13
    query_rice_cooker = "SELECT watt FROM data_month3.rice_cooker WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_rice_cooker = pd.read_sql(query_rice_cooker, conn)  
    power13 = df_rice_cooker.sum()/len(df_rice_cooker)/4
    
    # device14
    query_water_heater = "SELECT watt FROM data_month3.water_heater WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_water_heater = pd.read_sql(query_water_heater, conn)    
    power14 = df_water_heater.sum()/len(df_water_heater)/4
    
    # device15
    query_light_system = "SELECT watt FROM data_month3.light_system WHERE Timestamp >= '%s' AND TimeStamp <= '%s'; "% (time_a[j],time_b[j])
    df_light_system = pd.read_sql(query_light_system, conn)        
    power15 = df_light_system.sum()/len(df_light_system)/4      
        
    total_watt = power1 + power2 + power3 + power4 + power5  + power6  + power7  + power8  + power9 + power10 + power11 + power12 + power13 + power14 + power15 
    c.execute("INSERT INTO thesis.measure_15devices_month3(Timestamp, refrigerator, wirelessrouter, aircont, computer, elec_thermo, hair_dryer, microwave, iphonecharger, fan, tv, washing_machine, iron, rice_cooker, water_heater, light_system,total_watt) VALUES ( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)",
              (time_b[j],power1[0],power2[0],power3[0],power4[0],power5[0],power6[0],power7[0],power8[0],power9[0],power10[0],power11[0],power12[0],power13[0],power14[0],power15[0],total_watt[0]))
    conn.commit()
    j += 1 
    print ".",
    
print(".DONE!")

Exception _mysql_exceptions.ProgrammingError: (2014, "Commands out of sync; you can't run this command now") in <bound method Cursor.__del__ of <MySQLdb.cursors.Cursor object at 0x7f65d4e398d0>> ignored

 table thesis.measure_15devices_month3 are Empty!!!

. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .DONE!